*{
	box-sizing: border-box;
}
body{
	margin: auto;
	background-color: #777777;
}
.cero{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.uno{
	height: 60px;
	width: 10px;
}
.facebook{
	width: 35px;
	height: 35px;
}
.twitter{
    width: 35px;
    height: 35px;
}
.instagram{
    width: 35px;
    height: 35px;
}
.whatsapp{
    width: 35px;
	height: 35px;
	
}
.imagotipo{
	width: 1080px;
	height: 336px;
	
}
.dos{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	margin-top: 20px;
}
.tres{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	margin-top: 20px;
}
.frase{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.cuatro{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin-top: 20px;

}
.fotoperfil{
	width: 500px;
	height: 500px;
}
.cinco{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin-top: 20px;
}
.seis{
	background-color: white;
	height: 180px;
	margin-top: 20px;
}
.siete{
	height: 60px;
	margin-top: 20px;
}
.www{
	width: 35px;
    height: 35px;
}
.gmail{
	width: 35px;
    height: 35px;
}
.contactos{
	width: 35px;
    height: 35px;
}
.titulohabilidadestécnicas{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #C40007;
}
.habilidadestécnicas{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin-top: 20px;
}
.titulohabilidadesblandas{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #C40007;
}
.habilidadesblandas{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin-top: 20px;
}
.titulohobbies{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #C40007;
}
.tituloperfil{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #C40007;
}
.tituloeducaiócn{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #C40007;
}
.educación{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin-top: 20px;
}
.tituloexperiencialaboral{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #C40007;
}
.experiencialaboral{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin-top: 20px;
}
.tituloautobiografía{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #C40007;
	margin-top: 20px;
}
.autobiografía{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}
.titulocontactopersonal{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #C40007;
}
.contacto{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;	
}
.tituloregistro{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #C40007;
}
.inferior{
	background-color: #252123;
	border:  white 15px inset;
	margin-top: 30px;
}
.superior{
	background-color: #252123;
	border:  white 15px inset;
}